/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #154d84;
  --ifm-color-primary-dark: #154d84;
  --ifm-color-primary-darker: #154d84;
  --ifm-color-primary-darkest: #154d84;
  --ifm-color-primary-light: #154d84;
  --ifm-color-primary-lighter: #154d84;
  --ifm-color-primary-lightest: #154d84;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #154d84;
  --ifm-color-primary-dark: #154d84;
  --ifm-color-primary-darker: #154d84;
  --ifm-color-primary-darkest: #154d84;
  --ifm-color-primary-light: #154d84;
  --ifm-color-primary-lighter: #154d84;
  --ifm-color-primary-lightest: #154d84;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-color-title: #e3e3e3;
}

.hero--grow {
  flex-grow: 1;
}

.navbar__logo{
  margin-right: 0;
}
.hero__title{
  color: var(--ifm-color-title);
}

.hero__subtitle{
  color: var(--ifm-color-title);
}

@media screen and (max-width: 480px) {
  .hero__title {
    font-size: 1.5rem;
  }
  .hero__subtitle{
    font-size: 1.2rem;
  }
}
